@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "variables";
// Styles Import
@import './styles/hero';
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}